html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 350px;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input, .form-box select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-box button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #0056b3;
}

.form-box button {
   margin-top: 10px;
}
